/* ------------- Loader -------------------------------- */
*,*::after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedor{
    background-color: rgb(0,0,0, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

.loader-container{
    position: absolute;
    width: 300px;
    height: 300px;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.loader-container .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    border-top-color: #08a6e4;
    border-left-color: #08a6e4;
    border-radius: 50%;
    animation: loader 1.4s linear infinite;

}

.loader-container .loader2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 4px transparent;
    border-top-color: #04027a;
    border-left-color: #04027a;
    border-radius: 50%;
    animation: loader2 1.2s linear infinite;
}

.loader-container .img-load{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    animation: loader 1.8s ease-in-out infinite;
}

@keyframes loader{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes loader2{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

body {
	background: url('../img/bg.webp') fixed no-repeat 0 0;
	background-size: cover;
	background-position: center center;
} 


.menu-fixed{ /*controla la posicion del nav*/
	position: fixed;
  	width: 100%;
  	top:0;
  	z-index: 1000;
  	box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
}

.menu {
	border-bottom: 2px solid var(--color-azul-cian);
}

.btn-block {
    display: block;
    width: 100%;
}

.fondo_transparente {
    background-color: rgba(255, 255, 255, 0.7);
}

input {
    color: #000;
    font-size: 18px;
}